@model CI_Project.Entities.ViewModels.HomeModel

@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
	<link rel="Stylesheet" href="@Href("~/css/landingPage.css")" />
}
<main class="position-relative">
	<header id="header" class="ci-page-header bg-white w-100 z-3"
			style="background-color: transparent;min-width: max-content;">
		<div id="header-profile" class="mx-auto d-flex align-items-center justify-content-between"
			 style="max-width:var(--max-width);height:var(--header-height);background-color: transparent;">
			<div class="ci-page-header-left-div d-flex ">
				<div class="p-2 h-100 d-sm-none">
					<button id="header-sidebar-open-btn" class="bg-transparent sidebar-open border-0">
						<img src="./images/list.png" alt="">
					</button>
				</div>
				<img id="logo" class=" mx-2" src="./images/logo.png" alt="">
				<div id="header-sidebar" class=" d-sm-flex flex-row align-items-center justify-content-center">
					<div id="close-btn-div" class="p-2">
						<button id="header-sidebar-close"
								class="sidebar-close d-sm-none d-flex  justify-content-center p-2 bg-transparent border-0">
							<img src="./images/cancel1.png" alt="">
						</button>
					</div>
					<div id="stories-div" class="p-2">
						<a class="text-decoration-none text-black mx-2 " href="#">
							Stories
						</a>
					</div>

					<div id="policy-div" class="dropdown mx-2">
						<button class="bg-transparent border-0 p-0 dropdown-toggle" type="button"
								data-bs-toggle="dropdown" aria-expanded="false">
							Policy
							<img class="mx-1" src="./images/drop-down.png" alt="">
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ci-page-header-profile-div p-1 mx-1 d-flex" style="min-width: max-content;">
				<button id="search-button" class="p-1 mx-3 border-0 bg-white  d-sm-none">
					<img src="images/search.png" alt="search-btn">
				</button>
				<a href="">
					<img class="ci-page-header-profile-img mx-1"
						 style="border-radius: 50%;height: 40px;width: 40px;object-fit: cover;"
						 src="./images/user-img.png" alt="user-img">
				</a>
				<div class="dropdown mx-2 d-md-block d-none px-sm-0 px-2">
					<span class="ci-page-header-profile-name mx-1 py-1">
						@Model.user.FirstName @Model.user.LastName
					</span>
					<button class="bg-transparent border-0 p-0 py-1 dropdown-toggle" type="button"
							id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="./images/drop-down.png" alt="">
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="filter-mission-navbar" class="h-auto w-100 z-1 p-0 border border-1 bg-white"
			 style="height:var(--header-height);">
			<div class="mx-auto row w-100" style="height:78px;max-width:1420px;  ">
				<div id="search-nav" class=" p-0 col-md-6 col-10 d-flex align-items-center  ">
					<input type="text" style="width:90%;" id="search-input" placeholder="Search mission..."
						   class="border-0 rounded-3 bg-transparent p-3 ps-5">
				</div>

				<div id="search-nav" class="mx-auto col-md-6 col-2 ">
					<div class=" h-100 d-flex justify-content-end align-items-center d-md-none px-2">
						<button id="filter-mission-sidebar-open-btn"
								class="sidebar-open bg-transparent border-0">
							<img src="./images/filter.png"
								 alt="">
						</button>
					</div>
					<div id="filter-bar" class="row" style="height:100%;left:-50vw;">
						<div class="d-flex d-md-none align-items-center justify-content-between mx-1 py-1 px-2 ">
							<button id="filter-mission-sidebar-close-btn"
									class="sidebar-close d-flex  justify-content-center p-2 bg-transparent border-0">
								<img src="./images/left.png" alt="">
							</button>
							<button id="filter-mission-clear-all-btn"
									class="clear-all d-flex  justify-content-center p-2 bg-transparent border-0">
								Clear All
							</button>
						</div>
						<div class="col-3">
							<div class="dropdown w-100 h-100 p-0">
								<button class="w-100 h-100 dropdown-toggle border-0  bg-transparent  d-flex justify-content-between align-items-center"
										type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Country
									<img src="images/drop-down.png" alt="">
								</button>
								<ul id="country-dropdown" class="dropdown-menu">
									@foreach (var currCountry in @Model.countries)
									{
										<li class="p-1">
											<input class="countryName form-check-input" id="@currCountry.CountryName" type="checkbox" data-id="@currCountry.CountryId" data-type="country" value="@currCountry.CountryName" />
											<label for="@currCountry.CountryName">
												@currCountry.CountryName
											</label>
										</li>
									}
								</ul>
							</div>
						</div>
						<div class="col-3">
							<div class="dropdown w-100 h-100 p-0">
								<button class="w-100 h-100 dropdown-toggle border-0  bg-transparent  d-flex justify-content-between align-items-center"
										type="button" data-bs-toggle="dropdown" aria-expanded="false">
									City
									<img src="images/drop-down.png" alt="">
								</button>
								<ul id="city-dropdown" class=" dropdown-menu">

									@foreach (var currCity in Model.cities)
									{
										<li class="p-1">
											<input class="cityName form-check-input" id="@currCity.CityName" type="checkbox" data-id="@currCity.CityId" data-type="city" value="@currCity.CityName">
											<label for="@currCity.CityName">
												@currCity.CityName
											</label>
										</li>
									}

								</ul>
							</div>
						</div>
						<div class="col-3">
							<div class="dropdown w-100 h-100 p-0">
								<button class="w-100 h-100 dropdown-toggle border-0  bg-transparent  d-flex justify-content-between align-items-center"
										type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Theme
									<img src="images/drop-down.png" alt="">
								</button>
								<ul id="theme-dropdown" class="dropdown-menu">
									@foreach (var currTheme in @Model.themes)
									{
										<li class="p-1">
											<input class="themeName form-check-input" id="@currTheme.MissionThemeTitle" type="checkbox" data-id="@currTheme.MissionThemeId" data-type="theme" value="@currTheme.MissionThemeTitle">
											<label for="@currTheme.MissionThemeTitle">
												@currTheme.MissionThemeTitle
											</label>
										</li>
									}
								</ul>
							</div>
						</div>
						<div class="col-3">
							<div class="dropdown w-100 h-100 p-0">
								<button class="w-100 h-100 dropdown-toggle border-0  bg-transparent  d-flex justify-content-between align-items-center"
										type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Skills
									<img src="images/drop-down.png" alt="">
								</button>
								<ul id="skill-dropdown" class="dropdown-menu">
									@foreach (var currSkill in @Model.skills)
									{
										<li class="p-1">
											<input class="skillName form-check-input" id="@currSkill.SkillName" type="checkbox" data-id="@currSkill.SkillId" data-type="skill" value="@currSkill.SkillName">
											<label for="@currSkill.SkillName">
												@currSkill.SkillName
											</label>
										</li>
									}

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="scrollable-area" class="overflow-y-scroll ">
		<div id="main-container" class="container mt-2 mb-2 mb-sm-4">
			<!-- chips -->
			<div id="chips-div" class="mt-2 p-3 d-flex align-items-center overflow-x-scroll ">
				<button class="button px-2 border-0" style="min-width: max-content;">
					Clear all
				</button>
			</div>


			<div id="missions-list">
			</div>



		</div>
	</div>

	<footer id="footer" class=" bg-white">
		<div class="mx-auto h-100 w-100 d-flex align-items-center " style="max-width:var(--max-width)">
			<a href="./privacy.html" class="text-decoration-none text-dark p-2">
				Privacy
				Policy
			</a>
		</div>
	</footer>
</main>

@section Scripts{

	<script type="text/javascript">
		let arrOfCountries = [];
		let arrOfCities = [];
		let arrOfThemes = [];
		let arrOfSkills = [];

		let missionToSearch = "";
		let sortVal = "";
		let missionCount;
		let currPage = 1;

		$(document).ready(function () {
			loadMissions();
		});

		$("#search-input").on("keyup", function (e) {
			missionToSearch = $("#search-input").val().toLowerCase();
			loadMissions();
		});

		function loadMissions() {
			$.ajax({
				url: "/Home/bringMissionsToGridView",
				method: "GET",
				dataType: "html",
				data: { "sortBy": sortVal, "missionToSearch": missionToSearch, "pageNo": currPage, "pageSize": 3 },
				success: function (data) {
					$('#missions-list').html("");
					$('#missions-list').html(data);

					//----------------- sorting -----------------
					$('#sort-div > li > a').on('click', function () {
						console.log("changed");
						sortVal = $(this).html();
						currPage = 1;
						console.log(sortVal);
						loadMissions();
						console.log("loaded!");
					});

					//----------------- paging -----------------
					$('.pageCounters > a > span').on('click', function () {
						currPage = $(this).html();
						console.log(currPage);
						loadMissions();
					});

				},
				error: function (error) {
					console.log(error);
				}
			});
		}

		// ------------------------------------------------- CHIPS ------------------------------------------------------------
		const countries = document.querySelectorAll("#country-dropdown > li > input");
		const cities = document.querySelectorAll("#city-dropdown > li > input");
		const themes = document.querySelectorAll("#theme-dropdown > li > input");
		const skills = document.querySelectorAll("#skill-dropdown > li > input");
		const chipsDiv = document.getElementById("chips-div");

		addListnerToFilter(countries);
		addListnerToFilter(cities);
		addListnerToFilter(themes);
		addListnerToFilter(skills);

		function addListnerToFilter(filter){
			for (let currElement of filter) {
				currElement.addEventListener("change", () => {
					let dataIdOfChipToDelete = currElement.getAttribute("data-id");
					let dataTypeOfChipToDelete = currElement.getAttribute("data-type");
					let valueToAdd = +(currElement.getAttribute("data-id"));

					if(dataTypeOfChipToDelete == "country"){
						checkUncheck(arrOfCountries, currElement, dataIdOfChipToDelete, dataTypeOfChipToDelete, valueToAdd);
					}
					else if (dataTypeOfChipToDelete == "city") {
						checkUncheck(arrOfCities, currElement, dataIdOfChipToDelete, dataTypeOfChipToDelete, valueToAdd);
					}
					else if (dataTypeOfChipToDelete == "theme") {
						checkUncheck(arrOfThemes, currElement, dataIdOfChipToDelete, dataTypeOfChipToDelete, valueToAdd);
					}
					else if (dataTypeOfChipToDelete == "skill") {
						checkUncheck(arrOfSkills, currElement, dataIdOfChipToDelete, dataTypeOfChipToDelete, valueToAdd);
					}
				});
			}
		}
		//--------------------------------------------
		function checkUncheck(arr, currElement, dataIdOfChipToDelete, dataTypeOfChipToDelete, valueToAdd) {
			//--------------------------- check-add -------------------------
			if (arr.indexOf(valueToAdd) == -1) {
				arr.push(valueToAdd);
				chipsDiv.insertAdjacentHTML("afterbegin", `<span data="${currElement.value}" class="chip p-1 px-3 me-2 border border-1 d-flex align-items-center justify-content-end rounded-pill">
																				${currElement.value}
																		<button data-id="${valueToAdd}" data-type="${dataTypeOfChipToDelete}" class="button px-2 border-0">
																			<img  src="images/cancel.png" alt="">
																		</button>
																	</span>`);

				//----------------------- cross-delete -----------------------
				let allChipsItemsBtn = document.querySelectorAll("#chips-div span button");
				for (let currChipDeleteBtn of allChipsItemsBtn) {
					currChipDeleteBtn.addEventListener("click", () => {
						deleteChip(currChipDeleteBtn.parentElement);
						console.log("deleted");
					});
					break;
				}
			}
			//--------------------------- uncheck-delete -------------------------
			else {
				let idxOfChipToDelete = arr.indexOf(valueToAdd);
				arr.splice(idxOfChipToDelete, 1);
				let allChipsItems = document.querySelectorAll("#chips-div span");
				if (allChipsItems.length > 0) {
					for (let currChip of allChipsItems) {
						if (currChip.childNodes[1].getAttribute("data-type") == dataTypeOfChipToDelete) {
							if (currChip.childNodes[1].getAttribute("data-id") == dataIdOfChipToDelete) {
								currChip.remove();
							}
						}
					}
				}
			}
		}

		//--------------------------------------------

		function deleteChip(chipToDelete) {
			console.log("chip to delete ");
			console.log(chipToDelete);
			let dataIdOfChipToDelete = +chipToDelete.childNodes[1].getAttribute("data-id");
			let dataTypeOfChipToDelete = chipToDelete.childNodes[1].getAttribute("data-type");

			switch (dataTypeOfChipToDelete) {
				case "country":
					arrOfCountries.splice(arrOfCountries.indexOf(dataIdOfChipToDelete), 1);
					$('#' + chipToDelete.getAttribute('data')).prop('checked', false)
					chipToDelete.remove();
					break;
				case "city":
					arrOfCities.splice(arrOfCities.indexOf(dataIdOfChipToDelete), 1);
					$('#' + chipToDelete.getAttribute('data')).prop('checked', false)
					chipToDelete.remove();
					break;
				case "theme":
					arrOfThemes.splice(arrOfThemes.indexOf(dataIdOfChipToDelete), 1);
					$('#' + chipToDelete.getAttribute('data')).prop('checked', false)
					chipToDelete.remove();
					break;
				case "skill":
					arrOfSkills.splice(arrOfSkills.indexOf(dataIdOfChipToDelete), 1);
					$('#' + chipToDelete.getAttribute('data')).prop('checked', false)
					chipToDelete.remove();
					break;
				default:
					alert("Error");
					break;
			}
		}

	</script>

	<script src="~/js/custom.js"></script>
	<script src="~/js/filterMissionSidebar.js"></script>
	<script src="~/js/headerSidebar.js"></script>
	<script src="~/js/scrolable.js"></script>
	@*<script src="~/js/gridList.js"></script>*@
	@*<script src="~/js/pagination.js"></script>*@
}