@model List<CI_Project.Entities.ViewModels.MissionTimesheetTimeModel>

<style>

	.ts-table {
		height: 300px;
	}

	th,
	td {
		padding: 0 0.5rem;
		border-bottom: none !important;
	}

	th {
		padding-bottom: 0.5rem;
	}

	td {
		font-size: 15px;
		padding-top: 0.25rem !important;
		padding-bottom: 0.25rem !important;
	}


	table::-webkit-scrollbar {
		display: none !important;
	}
</style>
<div class="flex-basis-100 border shadow-sm p-3 py-md-4">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<div class="fs-5 fw-light">Volunteering Hours</div>
		<button class="btn border border-2 border-warning text-warning rounded-pill d-flex gap-2 px-3" id="openTimeModalBtn">
			<span class="fw-bold">+</span> Add
		</button>
	</div>
	<div class="ts-table table-responsive">
		<table class="table" style="width:100%;white-space:nowrap;overflow-x:auto;">
			<thead>
				<tr>
					<th>Mission</th>
					<th>Date</th>
					<th>Hours</th>
					<th>Minutes</th>
				</tr>
			</thead>
			<tbody class="fw-light">
				@if (Model.Count() == 0)
				{
					<tr>
						<td colspan="100%">
							<div class="text-center">No entries found.</div>
						</td>
					</tr>
				}
				@foreach (var currTimesheetData in Model)
				{
					<tr>
						<td>@currTimesheetData.MissionName</td>
						<td>@currTimesheetData.DateVolunteered?.ToString("d")</td>
						<td>@currTimesheetData.Hours h</td>
						<td>@currTimesheetData.Minutes min</td>
						@if (currTimesheetData.ApprovalStatus == "PENDING")
						{
							<td>
								<div class="d-flex gap-2">
									<img src="/images/editing.png" class="editHour cursor-pointer" alt="edit" height="20px" width="20px"
								 data-id="@currTimesheetData.TimesheetId">
									<img src="~/images/bin.png" class="deleteTimesheetDataBtn cursor-pointer" alt="bin" height="20px" width="20px"
								 data-id="@currTimesheetData.TimesheetId">
								</div>
							</td>
						}
						@if (currTimesheetData.ApprovalStatus == "APPROVED")
						{
							<td>
								<div class="d-flex gap-2">
									<img src="~/images/check-mark.svg" alt="bin" height="20px" width="20px">
								</div>
							</td>
						}
						@if (currTimesheetData.ApprovalStatus == "DECLINED")
						{
							<td>
								<div class="d-flex gap-2">
									<img src="~/images/x-circle.svg" alt="bin" height="20px" width="20px">
								</div>
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>